* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  display: grid;
  grid-template-columns: auto 4fr;
  min-height: 97vh;
  grid-template-rows: auto 4fr;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

.sidebar {
  grid-area: 1/ 1 / -1 / 2;
  background-color: #7e22ce;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 4em;
  padding: 2em 4em;
  color: #f5f5f5;
}

.sidebar ul {
  font-size: 1.5rem;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar li {
  display: flex;
}

h1 {
  font-size: 3rem;
}

header {
  background-color: #faf5ff;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1.5rem;
}

.header__top {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 4rem;
  align-items: center;
}

.profile-img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  object-fit: cover;
}

.profile-img--lg {
  height: 6rem;
  width: 6rem;
}

#profile__greeting {
  grid-row: 1 / span 2;
}

.top__left {
  display: flex;
}

.top__right > .header__top__icons {
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

.header__top__icons:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-field {
  height: 2rem;
  border-radius: 32px;
  border: none;
  background-color: #e9d5ff;
  flex: 1;
}
.header__bottom {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
}

.bottom__left {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  font-weight: 700;
}

.profile__greeting {
  font-size: 1.5rem;
}

.profile__name {
  font-size: 2rem;
}

.bottom__right {
  grid-column: 2;
}

.bottom__right > ul {
  display: flex;
  gap: 1.5rem;
}

.bottom__right button {
  width: 9rem;
  min-height: 2rem;
  border-radius: 30px;
  background-color: #7e22ce;
  border: none;
  color: #faf5ff;
  font-size: 1.5rem;
  padding: 1rem;
}

.content {
  background-color: #e9d5ff;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2em;
}

.projects {
  display: grid;
  grid-template-rows: auto 3fr 3fr 3fr;
  grid-template-columns: repeat(auto-fit, 45ch);
  padding: 2rem 0;
  gap: 2rem 2rem;
  grid-auto-rows: 1fr;
}

.projects > h2 {
  grid-column: 1 / -1;
  margin-bottom: -0.8em;
}
.card {
  background-color: #faf5ff;
  border-radius: 15px;
  display: flex;
  padding: 3em 1em;
  flex-direction: column;
  justify-content: space-between;
}

.card--border {
  border-left: 10px solid #a855f7;
}

.info {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 55ch;
}

.card__container {
  display: grid;
  grid-template-rows: auto 3fr;
}

.card__container h3 {
  font-size: 2rem;
}

.card ul {
  display: flex;
}

.card--long {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.card__announcement {
  border-bottom: 1px solid #d8b4fe;
  padding: 0 0.5rem 1.5rem 0.5rem;
}

.card__announcement:last-child {
  border: none;
  padding-bottom: none;
}

.trending__img {
  grid-row: 1 / span 2;
}

.trending__items {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}
